{% extends "layout.html" %}
{% block title %} - {{ pageid }}{% endblock %}
{% block content %}
<script>
 function lookup() {
  var xmlhttp;
  xmlhttp = new XMLHttpRequest();
  xmlhttp.onreadystatechange = function()
  {
   if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
   {
    document.getElementById("lookup").innerHTML = xmlhttp.responseText;
   }
  }

  if (document.getElementById("ID") == '')
  {
   FormID = '';
  }
  else
  {
   FormID = document.getElementById("ID").value;
  }
  if (document.getElementById("MemberNumber") == '')
  {
   FormMemberNumber = '';
  }
  else
  {
   FormMemberNumber = document.getElementById("MemberNumber").value;
  }
  if (document.getElementById("LastName") == '')
  {
   FormLastName = '';
  }
  else
  {
   FormLastName = document.getElementById("LastName").value;
  }
  if (document.getElementById("PhoneNumber") == '')
  {
   FormPhoneNumber = '';
  }
  else
  {
   FormPhoneNumber = document.getElementById("PhoneNumber").value;
  }
  if (document.getElementById("Page") == '')
  {
   FormPage = 1;
  }
  else
  {
   FormPage = parseInt(document.getElementById("Page").value);
  }

  xmlhttp.open("POST","/checkout/account",true);
  xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
  xmlhttp.send('ID='+FormID+'&MemberNumber='+FormMemberNumber+'&LastName='+FormLastName+'&PhoneNumber='+FormPhoneNumber+'&Page='+FormPage);
 }
</script>

<div id="search">
 <form id="AccountSearch">
  <table>
   <tr>
    <td><label for='ID'>DB Account Number: </label></td>
    <td><input type="text" class="standardwidth" id="ID" name="ID" autocomplete="off" autofocus value="" onkeyup="javascript:lookup()"></td>
   </tr>
   <tr>
    <td><label for='MemberNumber'>Member Number: </label></td>
    <td><input type="text" class="standardwidth" id="MemberNumber" name="MemberNumber" autocomplete="off" value="" onkeyup="javascript:lookup()"></td>
   </tr>
   <tr>
    <td><label for='LastName'>Last Name: </label></td>
    <td><input type="text" class="standardwidth" id="LastName" name="LastName" autocomplete="off" value="" onkeyup="javascript:lookup()"></td>
   </tr>
   <tr>
    <td><label for='PhoneNumber'>Phone Number: </label></td>
    <td><input type="text" class="standardwidth" id="PhoneNumber" name="PhoneNumber" autocomplete="off" value="" placeholder="8041231234" onkeyup="javascript:lookup()"></td>
   </tr>
  </table>
  <input type="hidden" id="Page" value="{{ page }}">
 </form>
</div>
<br>

<div id="lookup">
</div>

{% endblock %}
