<div id=pagination class=pagination>
 <p>
 <span class="nolink">Page: </span>
  {%- for page in pagination.iter_pages() %}
   {% if page %}
    {% if page != pagination.page %}
     <a href="javascript:document.getElementById('Page').value = '{{ page }}'; lookup();">{{ page }}</a>
    {% else %}
     <a class=curpage><strong>{{ page }}</strong></a>
    {% endif %}
   {% else %}
    <span class="nolink">…</span>
   {% endif %}
  {%- endfor %}
 </p><br><br>
</div<>

<div id="results">
 <table>
  <tr>
   <th>ID</th>
   <th>Member Number</th>
   <th>First Name</th>
   <th>Last Name</th>
   <th>Items</th>
   <th>Activation</th>
   <th>Actions</th>
  </tr>
  {% for i in pagination.items %}
   <tr>
    <td>{{ i.ID }}</td>
    <td>{{ i.MemberNumber }}</td>
    <td>{{ i.FirstName }}</td>
    <td>{{ i.LastName }}</td>
    <td>#ofItems</td>
    <td>{{ i.Activation }}</td>
    <td>Actions</td>
   </tr>
  {% endfor %}
 </table>
</div>

<div id="pagination" class="pagination">
 <p>
  <span class="nolink">Page: </span>
  {%- for page in pagination.iter_pages() %}
   {% if page %}
    {% if page != pagination.page %}
     <a href="javascript:document.getElementById('Page').value = '{{ page }}'; lookup();">{{ page }}</a>
    {% else %}
     <a class="curpage"><strong>{{ page }}</strong></a>
    {% endif %}
   {% else %}
    <span class="nolink">…</span>
   {% endif %}
  {%- endfor %}
 </p><br><br>
</div<>
